

*{background-color: beige;
    background-image: url("./black-background.jpg");
    background-position: center;
    margin: 0;
    padding: 0;
}

/* must add media queries */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: azure;
    text-shadow: 2px 2px 4px #000;
}
h1 {
    margin-top: 20px;
    
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: azure;
}


#cookie-button {
    border: none;
    background: none; 
    padding: 0; 
    
}


#cookie-image {
    width: 200px; 
    height: 200px;
    border-radius: 100px; 
    cursor: pointer; 
    border: solid black;
}


@media (max-width: 800px) {
    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #cookie-image {
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 480px) {
    body {
        font-size: 14px; 
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }

    #cookie-image {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 18px; 
    }
}